# Ignore unnecessary folders
.codacy/
.github/
.idea/
.vscode/
dist/
web-build/
.expo/

# Node modules (EAS will install them automatically)
node_modules/

# Android/iOS build cache
android/build/
ios/build/
android/app/build/

# Environment files
.env
.env*.local

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Other unnecessary stuff
*.orig.*
*.pem


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
